--index-url https://download.pytorch.org/whl/cu128

torch
torchvision
torchaudio
fastapi
transformers
uvicorn
python-dotenv
accelerate
websockets
TTS
torchcodec
faster-whisper

# for tts and stt
faster-whisper==1.2.1
TTS
fastapi
uvicorn
transformers==4.30.2
websockets
torchcodec